.contenedor {
    position: relative;
    width: 220px; 
    height: 220px; 
    background-color: #FFFFCC; 
    padding: 12px; 
    margin-right: 10px;
    margin-top: 30px;
    display: flex;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transform: rotate(4deg);

}

.contenedorImportante{
    background-color: #EC7063;
    position: relative;
    display: flex;
    width: 220px; 
    height: 220px; 
    padding: 12px; 
    margin-right: 10px;
    margin-top: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transform: rotate(-4deg);
}

.icono-eliminar{
    width: 25px;
    height: 25px;
    margin: 5px;
    position: absolute;
    top: 10px;
    right: 0px;
    color: black;
}

.botonPost{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #FFFFCC;;
    border: none;
}

.botonImp{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #EC7063;
    border: none;
}

.post {
    display: block;
    width: 280px;
    height: 320px;
}

.tituloPost{
    color: black;
    width: 200px;
    padding: 5px;
    overflow: hidden;
    word-wrap: break-word;
}

.descripcionPost{
    color: black;
    width: 210px;
    padding: 5px;
    overflow: hidden;
    word-wrap: break-word;
}