.contenedor {
    position: relative;
    width: 280px; 
    height: 320px; 
    background-color: #FFFFCC; 
    padding: 12px; 
}

.contenedorImportante{
    background-color: #EC7063;
}

.botonPost{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #FFFFCC;;
    border: none;
}

.botonImp{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #EC7063;
    border: none;
}

.post {
    display: block;
    width: 280px;
    height: 320px;
}

.tituloPost{
    color: black;
    padding: 5px;

}

.descripcionPost{
    color: black;

}